<%= flash[:danger] %>
<%= flash[:success] %>

<div class="container">
  <div class="mt-3 mx-3">
    <h2>マイページ　　　　　　<%= link_to "編集する", edit_user_path(@user.id), class:"btn btn-success" %></h2>
      <div class="row">
        <div class="col">
          <div class="mt-3">
            <p><strong>登録情報</strong>

<p>プロフィール画像　<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
<p>ハンドルネーム　<%= @user.handle_name %></p>
<p>メールアドレス  <%= @user.email %></p>
<p>作成日時  <%= @user.created_at.strftime('%Y/%m/%d %H:%M') %></p>
<br>
<h3>-投稿一覧-</h3>
<% @posts.each do |post| %>
<div>
   <%= attachment_image_tag post, :image, :fill, 100, 100 %>
  <p>タイトル: <%= link_to post.title, post_path(post) %></p>
  <p>作成日時: <%= post.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
  <p>いいね数: <%= post.favorites.count %></p><br>
</div>
<% end %>
<h4><%= link_to "いいねした投稿一覧", favorites_user_path(@user) %></h4>
            </div>
          </div>
        </div>
      </div>
  </div>