<%= flash[:danger] %>
<%= flash[:success] %>

<h3>マイページ　　　<%= link_to "編集する", edit_user_path(@user.id) %></h3>

<h3>プロフィール画像　<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></h3>
<h3>ハンドルネーム　<%= @user.handle_name %></h3>
<h3>メールアドレス  <%= @user.email %></h3>
<h3>作成日時  <%= @user.created_at.strftime('%Y/%m/%d %H:%M') %></h3>

<h3>投稿一覧</h3>
<% @posts.each do |post| %>
<div>
   <%= attachment_image_tag post, :image, :fill, 100, 100 %>
  <p>タイトル: <%= link_to post.title, post_path(post) %></p>
  <p>作成日時: <%= post.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
  <p>いいね数: <%= post.favorites.count %></p><br><br>
</div>
<% end %>
<br>
<p>いいね一覧</p>