<main>
  <div class="container">
    <div class="px-3 mt-3">
      <h4>投稿編集</h4>
    </div>
    <div class="mx-5">

  <%= attachment_image_tag @post, :image, :fill, 300, 300 %>
  <p>タイトル：<%= @post.title %></p>
  <p>本文：<%= @post.body %></p>
  <p><%= attachment_image_tag @post.user, :image, :fill, 100, 100 %>　　ハンドルネーム：<%= @post.user.handle_name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <%= link_to "Destroy", admin_post_path(@post), method: :delete, class: 'btn btn-danger', data: {confirm: "削除しますか？"}  %>
    </div>
  </div>
</main>