<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
            <div class="mt-5">
                    <div class="text-center">
                    <font size="40"><strong>-使い方-</strong><br></font>
                    <div class="pt-5">
                        <h4><strong>まずは<%= link_to "こちら", new_user_registration_path %>から新規登録を</strong></h4>
                    <h4>①ハンドルネームとメールアドレスで新規登録<%= image_tag 'howtouse1.png', size: "600x300" %><br><br>
                    ②CollectionBoxでタイトル、カテゴリー検索<%= image_tag 'howtouse2.png', size: "500x200" %><br><br>
                    ③気に入ったらいいねを押そう(マイページ→いいね一覧で確認できます)　　　　　　 <%= image_tag 'howtouse3.png', size: "100×100" %><br><br>
                    ④自分でも投稿してみよう　　　　　　　　　<%= image_tag 'howtouse4.png', size: "500x300" %><br><br>
                    ⑤自身の生活に役立てよう　　　　　　　　 <%= image_tag 'hikkoshi_shinkyo.png', size: "300x300" %><br></h4>
                    <div class="mt-5">
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>