<main>
    <div class="container">
        <div class="row">
            <div class="mx-auto">
            <div class="mt-5">
                    <div class="text-center">
                    <font size="40"><strong>-使い方-</strong><br></font>
                    <div class="pt-5">
                        <h4><strong>まずは<%= link_to "こちら", new_user_registration_path %>から新規登録を</strong></h4><br>
                    <h4>①ハンドルネームとメールアドレスで新規登録　　　<%= image_tag asset_path('howtouse1.png', :width =>'50', :height =>'auto') %><br><br>
                    ②CollectionBoxでタイトル、カテゴリー検索<%= image_tag asset_path('howtouse2.png', :width =>'100', :height =>'auto') %><br><br></h4>
                    <h5>③気に入ったらいいねを押そう(マイページ→いいね一覧で確認できます)　　　　　　　<%= image_tag asset_path('howtouse3.png', :width =>'112', :height =>'auto') %><br><br></h5>
                    <h4>④自分でも投稿してみよう　　　　　　　　　<%= image_tag asset_path('howtouse4.png', :width =>'112', :height =>'auto') %><br><br>
                    ⑤自身の生活に役立てよう　　　　　　　　 <%= image_tag asset_path('hikkoshi_shinkyo.png', :width =>'112', :height =>'auto') %><br></h4>
                    <div class="mt-5">
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>