<h3>検索結果一覧画面</h3>
  <%= search_form_for @q do |f| %>
  <%= f.label :タイトル検索 %>
  <%= f.search_field :title_cont %>
  <%= f.submit "検索" %><br>
　<%= f.label :category_id_eq, "カテゴリー" %>
  <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank:'指定なし' %>

  <%= f.submit "検索" %>
<% end %>

<%= form_with model: @post, url: search_posts_path, method: :get, local: true do |form| %>
<%= form.select :keyword, [ ['投稿が新しい順', 'new'],
                          ['投稿が古い順', 'old'], ] %>
<%= form.submit "並び替え" %>
<% end %>


<% @posts.each do |post| %>
<div>
   <%= attachment_image_tag post, :image, :fill, 100, 100 %>
  <p>カテゴリー: <%= post.category.name %></p>
  <p>タイトル: <%= link_to post.title, post_path(post) %></p>
  <p>ユーザーネーム：<%= post.user.handle_name %></p>
  <p>作成日時: <%= post.created_at.strftime('%Y/%m/%d') %></p>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
  <p>いいね数: <%= post.favorites.count %></p><br><br>
</div>
<% end %>