<h3>会員一覧ページ</h3>
<% @users.each do |user| %>
<p>会員id　　<%= user.id %></p>
<p>作成日時　　<%= user.created_at.strftime('%Y/%m/%d %H:%M') %></p>
<p>ハンドルネーム　　<%= link_to (user.handle_name), admin_user_path(user) %></p>
<p>メールアドレス　　<%= user.email %></p>
<p>会員ステータス　　<%= user.is_delete %></p><br><br>
<% end %>