<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyleCollectionBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/3ae139fc0d.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render 'layouts/application' %>

  <footer>
   <div class="my-5">
         <div class="text-center">
          <p>-LifeStyleCollectionBox-</p>
         </div>
         </div>
      </footer>
  </body>
</html>
